<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="jxs_adapter" params="prefix parent">
    <!-- 转接板1：80×100×12，4×M6 通孔 -->
    <link name="${prefix}plate1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nova5/meshes/gripper/jxs-01.STL"/>
        </geometry>
        <material name="gray"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nova5/meshes/gripper/jxs-01.STL"/>
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}plate1_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}plate1"/>
      <origin xyz="0 0 0.012" rpy="1.57 0 0"/>
    </joint>

    <!-- 转接板2：80×80×12 -->
    <link name="${prefix}plate2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nova5/meshes/gripper/jxs-02.STL"/>
        </geometry>
        <material name="gray"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nova5/meshes/gripper/jxs-02.STL"/>
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}plate2_joint" type="fixed">
      <parent link="${prefix}plate1"/>
      <child link="${prefix}plate2"/>
      <origin xyz="0 0.009 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
